<body>
	<!-- Status Bar -->
	<!-- <div id="status">
		<p></p>
		<button class="close"><i class="fa fa-times" aria-hidden="true"></i></button>
	</div> -->
	<!-- Current Weather -->
	<div id="current" class="wrapper">
		<!-- <nav>
			<button id="locateBtn">
				<i class="fa fa-location-arrow" aria-hidden="true"></i>
			</button>
			<button id="unitBtn" data-units="f">f</button>
		</nav> -->
    <h1 class="location">{{city}}</h1>
		<h2 class="date">{{dateToday}}</h2>
		<div class="weatherIcon">
			<div class="sunny">
				<div class="inner"></div>
			</div>
		</div>
	<p class="temp">Temperature: {{temp | number:'1.0-0'}} °C</p>
	<p class="temp">Feels Like: {{feels_like | number:'1.0-0'}} °C</p>
	<p class="temp">Min Temperature: {{temp_min | number:'1.0-0'}} °C</p>
	<p class="temp">Max Temperature: {{temp_max | number:'1.0-0'}} °C</p>
	<tr *ngFor="let element of currentWeather.weather">
		<td>Conditions: {{element.main}}</td>
	</tr>
	<p class="wind">Wind speed: {{wind}} m/s</p>
	<p class="humidity">Humidity: {{humidity}}%</p>
	</div>
	<!-- Future Forecast
	<div id="future" class="wrapper">
		<div class="container">
			<h3 class="day">Mon</h3>
			<div class="weatherIcon">
				<div class="partlycloudy">
					<div class="inner"></div>
				</div>
			</div>
			<p class="conditions">Partly Cloudy</p>
			<p class="tempRange"><span class="high">64</span> | <span class="low">48</span></p>
		</div>
		<div class="container">
			<h3 class="day">Tue</h3>
			<div class="weatherIcon">
				<div class="mostlycloudy">
					<div class="inner"></div>
				</div>
			</div>
			<p class="conditions">Mostly Cloudy</p>
			<p class="tempRange"><span class="high">57</span> | <span class="low">45</span></p>
		</div>
		<div class="container">
			<h3 class="day">Wed</h3>
			<div class="weatherIcon">
				<div class="rain">
					<div class="inner"></div>
				</div>
			</div>
			<p class="conditions">Chance of Rain</p>
			<p class="tempRange"><span class="high">63</span> | <span class="low">59</span></p>
		</div>
	</div> -->
	<footer>
    <p id="lastUpdated">Last updated on:</p> <p>{{dateToday}}</p>
		<p>Created by <a href="https://amrithravindra.github.io" title="Visit Portfolio Site" target="_blank">Amrith Ravindra</a> | Weather data from <a href="https://openweathermap.org/" title="Wunderground.com" target="_blank">OpenWeather</a></p>
	</footer>
</body>
